body {
    background-color: powderblue;
  }
  #header {
  z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
  text-align: center;
  
  }
  #header .header {
    min-height: 100px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: rgba(12, 10, 10, 0.24);
    
    
  }
  #maine .maine{
    min-height: 300px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: rgba(246, 240, 240, 0.782);
    text-align: center;
  }

  p {
    color: rgb(87, 208, 232);
  }
  #footer {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    text-align: center;
  }
  #footer .footer {
    min-height: 100px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
  }
  #footer p {
    color: white;
    font-size: 1.3rem;
  }


  .sbutton{
    color: aqua;
    background-color: rgb(194, 22, 22);
  }